nav ul{
    display: flex;
}
.card {
    flex-basis: 450px;
}
.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
@media screen and (min-width: 900px){

}

@media all and (prefers-reduced-motion:reduce){
    #logo{

    }
}
@media print{

}
/* Step11 */
@media screen and (min-width: 1200px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_links {
        flex-direction: row;
    }
    /* Step12 */
    .card {
        flex-basis: 275px;
    }
    .pricing {
        align-items: center;
    }
}
